/*Reset*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/*Background image*/
.back {
    width: 100%;
    height: 6000px;
    background-color: #EACBAB;
}



/*Removing bullets and margin/padding*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Cottsmic', sans-serif;
    padding: 14px 16px;
}

nav ul li a:hover {
    color: #CD7D44;
    transition: 1s;
}

/*"Last Updated"*/
.update {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EFE7DA;
    margin-top: 50px;
}
.update p {
    color: #9d9485;
    font-family: 'Cottsmic', sans-serif;
    font-size: 20px;
}


/*Introduction*/
.introduction header h1 {
    font-size: 200px;
    padding-right: 50px;
    text-align: right;
    color: #CD7D44;
    font-family: 'Molex Shoora', sans-serif;
}

.introduction .hello {
    margin-bottom: -100px;
}

.introduction {
    width: 1000px;
    float: right;
}