/*Reset*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/*Background*/
.back {
    width: 100%;
    height: 6000px;
    background-color: #EACBAB;
}



/*Navigation clean up*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Cottsmic', sans-serif;
}

nav ul li a:hover {
    color: #CD7D44;
    transition: 1s;
}

/*"Last Updated"*/
.update {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EFE7DA;
    margin-top: 50px;
}
.update p {
    color: #9d9485;
    font-family: 'Cottsmic', sans-serif;
    font-size: 20px;
}

/*"Student DEVELOPER & DESIGNER*/
.college {
    padding-left: 20px;
    height: 300px;
    width: 450px;
    position: absolute;
    margin-top: 75px;
}
.college p {
    font-size: 25px;
    margin-bottom: -45px;
    font-family: 'Zen Kurenaido', sans-serif;
    color: #82713dae;
}
.college h2{
    font-size: 55px;
    font-family: 'Karmella', sans-serif;
    color: #82713D;
}


/*Introduction: "Hi, I'm Cierra"*/
.introduction header h1 {
    font-size: 200px;
    padding-right: 50px;
    text-align: right;
    color: #CD7D44;
    font-family: 'Molex Shoora', sans-serif;
}

.introduction header p {
    font-size: 25px;
    margin-top: -125px;
    text-align: right;
    padding-right: 50px;
    font-family: 'Forzan', sans-serif;
    color: #9D3F06;
}

.introduction .hello {
    margin-bottom: -100px;
}

.introduction {
    position: relative;
    width: 1000px;
    float: right;
    margin-top: -70px;
}


